/* 
grid-container

 1   header-section
 2   library-section
            library-header
            main-nav
 3   main-section
 4   footer-section
 

 grid
 2D

 flex
 make a box
 use width and hieght to control box size
*/

/* .section{
    border-left: 1px solid rgb(70, 70, 70);
} */
body{
    margin: 0;
    padding: 0;

    width: 1440px;
    height: 800px;

    font-weight:900;
    color: aliceblue;

    background-image: linear-gradient(to bottom right, rgb(23, 11, 88), rgb(45, 29, 100),rgb(100, 88, 142), rgb(237, 235, 244));

}

.grid-container{
    display: grid;
    width: 100%;
    height: auto;

    grid-template-columns: 265px 1170px;
    grid-template-rows: 148px 532px 110px;

    /* DO I NEED THIS?? IT DOES NOTHIGN  */
    /* position: fixed; */
}


                    /* header section */


.header-section h1{
    align-self: center;
}
.header-section{
    grid-column: 2/3;
    grid-row: 1/2;
    /* width: 100%; do i need to set width???*/

    display: flex;
    flex-direction: column;

     /*kind of a Fixed position - BUT also relative depending on scroll*/
    /* position: sticky; */
    

    border-bottom: 2px solid blueviolet;
}

 /* add HOME and a serch Bar  */

 .search{
    align-self: center;
    /* creates a variable and now u can use it everywhere */
    --padding: 14px;
    width: 50%;
    display: flex;
    align-items: center;
    

    padding: var(--padding);
    border-radius: 28px;
    background:  #3e3d3d;

    width: 600px;

    /* when user hovers over searchbar it transitions to a dark color */
    transition: background 0.25s;

 }

 /* when user hovers over searchbar it transitions to a dark color */
 .search:focus-within{
    background-color: #555252;
 }

 .search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color:#333333;
    margin-left: var(--padding);

    outline: none;
    border: none;
    background: transparent;
    
    flex:1;

    color:white;

    align-items: center;

 }
 /* the placeholder and icon is same color as background */
 .search-input::placeholder, .search-icon{
    color:rgba(0, 0, 0, 0.5);
 }


 /* library section  */

    /*  ppic  */
    .library-section{
        grid-column: 1/2;
        grid-row: 1/3;

        justify-content:center;

        font-family: Arial, Helvetica, sans-serif;


        display:flex;
        flex-direction: column;


        /*kind of a Fixed position - BUT also relative depending on scroll*/
        position: sticky;
        left: 0;


        border-right: 1px solid rgb(70, 70, 70);
    }

    #library-header{
        align-self: center;}

    #ppic{
        width: 80px;
        height: 80px;
        border-radius: 100%;
    }


    /* nav 

    Main-nav
        Nav
        Ul
        Li  
        a
    */

    #main-nav ul{
        list-style-type: none;
        text-decoration: none; 
        padding: 0;
    }

    #main-nav li {
        padding: 20px; 
        list-style-position: inside;
        
    }

    /* dont need this bc i did this to a not li */
/* 
    #main-nav li:hover{
        background-color: #d1ebe2; 
        border-radius: 20px; 
        box-shadow: 0 0 10px rgba(238, 223, 8, 0.1); 
        
    } */

    #main-nav a{
        text-decoration: none; 
        font-weight: 900;
        font-size: 13px;
        color: aliceblue;
        letter-spacing: .2rem;

        padding-right: 40px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;

        margin-left: auto;
        margin-right: auto;
    }
    #main-nav a:hover{
        /* when hover over words it does... */
        color:black;
        background-color: #d1ebe2; 
        border-radius: 20px; 
        box-shadow: 0 0 10px rgba(238, 223, 8, 0.1); 
        font-size: 16px;
    }
    

                    /* main section */
.main-section{
    grid-column: 2/3;
    grid-row: 2/3;

    overflow: scroll;

    width: 100%;
    height:100%;

    top:50%;

    color: black;

}

.card-container{
    /* width: 100%; */

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;

    /* position  DOESNT ALLOW overflow:scroll to work */
    /* position: absolute; */
    overflow: scroll;
    
}

.card{
    width: 200px;
    overflow: hidden;
    border-radius: 20px;

    /* box-shadow: 0px 2px 4px rgba(0,0,0,0,2); */
    margin:20px;

    border: 4px solid rgb(177, 196, 248);

    background-color: rgb(177, 196, 248);  

}

.card img{
    /* 100% of the div that its in */
    width:100%;
    height:auto;

    border-radius: 10%;
    
}
.card-content{
    /* add width:100%  */
    padding: 10px; 
    text-align: center;
    white-space: wrap;
}

.card-content h3{
    font-size: 18px;
    margin-bottom: 8px;
}

.card-content p{
    font-size: 15px;

}

                               /* footer section */

.footer-section{
    grid-column: span 3;
    grid-row: 3/4;

    /*kind of a Fixed position - BUT also relative depending on scroll*/
    position: sticky;
    /* left:0; */
    bottom: 0;
    /* width: 100%; */

    background-color:rgba(73, 73, 73,0.5);
    color: white;
    border: 4px solid rgb(73, 73, 73);
    /* outline: 4px solid black; */


    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}
/* how to select all children of footersection - u dont need to make a class */
/* .footer-section > *{
    outline: 4px solid black;
} */

#currently-playing-album img{
    width: 80px;
    height: 80px;
    border-radius: 100%;

    /* maybe make the picture spin when playing?????? */
    /* Transform: rotate(360deg);
    transition: 2s; */

    margin-left: 40px;
}

.playbar{
    
    height: 10px; 
    width: 30%; 
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

/* since flex doesnt have just-self i did this to move flex items around*/
.push-right{
    margin-right: auto;
}

.playbar > span{
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    position: relative;
    overflow: hidden;

    animation: playing 90s;
}

/* makes the playbar move */
@keyframes playing{
    0% {width: 0%;}
  100% {width: 100%;}
}
